
    

    p {
        font-family: Georgia, "Times New Roman", Times, serif;
        font-size: 1.2em;
    }  
    
    
   
    h2#header {
      z-index: 1;
    }            
    h1 {
        font-family: "Trebuchet MS", Helvetica, sans-serif;
        font-size: 2em;
     }
     p.important {
        font-size: 1.5em;
     }
     h3.bigger {
        font-size: 2.5em;
        }
        .typewriter {
            font-family: "Courier New", Courier, monospace;
           }
           p.important {
            font-size: 1.5em;
            font-weight: 900;
        }  
        .special {
            font-style: italic;
        }
        .emphasized {
            font-style: italic;
            ;
         }
         .standout {
            color:red;
         }
         h2 {
            word-spacing:1em;
         }
         p.more-readable {
         line-height: 9em;
         }
         h2,h4 {
            color:blue;
         }
         img.bitch{
            display: block;
            margin-left: auto;
            margin-right: auto;
         }
         .date-style {
            text-align: right;

         }          
         h3 {
            text-align: center;
         }       
         p.pretty{
            text-align: justify;
            text-indent: 55ems;
         
         }  
         p {
            margin-bottom: 1.2em;
         }  
         p {
            text-indent: 1em;
        }           
        .blockquote {
            font-size: 1.4em;
            color: rgba(16, 90, 90, 0.74);
        }               
        p.boxed {
            border: 5px dotted rgb(238, 11, 11);
            padding: .1em;
         }        
         h2.special {
            color:darkorange;
         }
         img.owns-its-own-line {
            display: block;
         
         }     
         img.inset {
            display: block;
            margin-left: 50em;
         }             
         img.smack-in-the-middle {
            display: block;
            margin: 0 auto 0 auto;
         }                
         img.wrap-around-the-right-side {
            float: left;
         }              
         a {
            color: #1616c7;
         }       
         a:active {
            font-size: 1.25em;
         }      
         a:hover {
            font-weight: bold;
            text-decoration: none;
         }              
         ul {
            margin: 0 1.5em 0 1.5em;
            }    
            ul {
               list-style-position: inside;
            }    
            ul {
               list-style-type: upper-roman;
            }   
            th,td {
               padding: 1em;
            }
            table{
               border-spacing: 0.5em;
            }
            th, td {
               border: 2px solid black;
               padding: 5px;
               width: 20%;
            }
            .baka{
               width: 90%;
               text-align: center;
               
               color: red;
            }    
           img.wrap-around-the-right-side {
                 float: right;
           } 
           div.content {
            width: 68%;
            float: left;
            }
            div.sidebar {
            width: 29%;
            float: right;
        }   
        div#header {
         width: 100%;
         background-color: rgb(153, 0, 0);
         text-align: center;
         font-weight: bolder;
         font-size: larger;
         position:absolute;
         left:0;
         color:white;
        }         
        div#header h2 {
         font-family:Georgia, 'Times New Roman', Times, serif;
         font-weight: 900;
         color:white;
         font-size: 2em;
         margin: left 2px;
         padding: 0;
        }     
        div#header img {
         float:left;
         margin:.9em .6em 0 .75em;
        }  
        div#navbar ul {
         list-style-type: none;
        }
        div#navbar ul li a {
         font-family:Arial, Helvetica, sans-serif;
         font-size: 1.1em;
         font-weight: 900;
         text-decoration: none;
         color: white;
         display: block;
         padding: .75em;
        }
        div#navbar {
         display: inline-block;
         width:100%;
        }
        div#navbar ul li {
         background-color: blue;
         text-align: center;
         display: inline;
         width:19%;
         float:left;
         margin-right: .5em;
        }
         li.changes {
            background-color: blue;
         }
         li.changes:hover {
            background-color: lightblue;
         }
         li.changes:active {
            background-color: darkblue;
         }
         div.normal {
            position: relative;
            right: 35%;
         }
      

iframe{
   float: left;
   margin: 0 2em 0 0;
}
@media only screen and (min-device-width:800px) {
   img.gallery {
      float:left
   }
}
div#d1 {
   width: 31%;
   float: left;
   }
   div#d2 {
   width: 31%;
   float: left;
   margin: 0 0 0 3.5%;
   }
   div#d3 {
   width: 31%;
   float: right;
}        
.no-wrap{
   clear: both;
}
bod


        
       

      
   

